@import url('https://fonts.googleapis.com/css?family=alegreya-sc');
@import url('https://fonts.googleapis.com/css?family=Sekuya');

html{
	font-size: 20px; 
	
}

body{
	background-color: rgb(238, 218, 129);
	padding:0;
	margin:0;
}
header{
	text-align: center;
	font-weight:bold;
	background-color:  rgb(30, 0, 54);
	border: 15px solid  rgb(92, 46, 94);
	color:  rgb(238, 218, 129);
	padding: 30px;
	font-family:Sekuya;
	font-size: 80px;
}
nav{
	background-color: rgb(30, 0, 54);
	margin: 0;
	padding: 0.5rem;
	color:rgb(238, 218, 129);
}
main{
	background-color: rgb(238, 218, 129);
	color:  rgb(30, 0, 54);
}
img{
	width: 100%;
}
a{
	color:rgb(238, 218, 129);
	display: inline-block;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 5px;
	background-color: rgb(92, 46, 94);
	text-decoration: none;
	font-size:28px;
	font-weight: bold;
	font-family: Alegreya SC;

}
footer{
	background-color: rgb(30, 0, 54);
	margin: 0;
	padding: 0.5rem;
}
